{
  "CN": "selfCA.{{kube_cluster_name}}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
    "names": [
       {
         "C": "MU",
         "L": "Port-Louis",
         "O": "Akilion.biz",
         "OU": "CA Services"
       }
    ]
}
