#cloud-config

hostname: {{ coreos_hostname }}
ssh_authorized_keys:
  - {{ coreos_public_keys }}

users:
 - name: {{ coreos_user_username }}
   passwd: {{ coreos_user_password }}
   groups:
     - "sudo"
   ssh-authorized-keys: 
     - {{ coreos_user_authorizedkey }}

coreos:
  update:
    reboot-strategy: reboot
