{
  "CN": "{{ kube_master_dns_name }}",
  "hosts": [
    "{{ kube_master_dns_name }}",
    "88.99.56.196",
    "88.99.56.213",
    "88.99.56.238",
    "127.0.0.1"
    ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
    "names": [
       {
         "C": "MU",
         "L": "Port-Louis",
         "O": "Akilion.biz",
         "OU": "CA Services"
       }
    ]
}
